.container {
  width: 500px;
  min-height: 100px;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  display: flex;
  border: 1px solid #04635d;
  border-radius: 5px;
}

.valueContainer {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
  color: #04635d;
  font-family: "Museo Sans Cyrl ", monospace;
  font-style: italic;
}