.range {
  position: relative;
}

input[type=range] {
  -webkit-appearance: none;
  min-width: 400px;
  border: 2px solid #07B0A5;
  outline: none;
  height: 0;
  padding: 0;
  border-radius: 1px;
  margin: 0;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #04635d;
  height: 12px;
  width: 12px;
  border-radius: 1px;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 1px 1px 3px #07B0A5, inset 0 0 3px #07B0A5;
  z-index: 5;
  position: relative;
  top: -1.5px;
}

