.wrapper {
  display: flex;
  margin: 10px;
  position: relative;
  background-color: #07b0a5;
  box-shadow: 1px 1px 0 0 #04635D;
  height: 40px;
  width: 200px;
  align-items: center;
  padding: 5px;
  border-radius: 12px;
}

.affairTitle {
  display: inline-block;
  font-style: italic;
  color: snow;
}

.btn {
  display: inline-block;
  align-items: center;
  margin: 2px 10px 2px 7px;
  background-color: #07b0a5;
  border: 1px solid #04635D;
  border-radius: 5px;
  color: #04635D;
  cursor: pointer;
}

.btn:hover {
  background-color: #04635D;
  color: #07b0a5;
}